body {
    background: #000 url('./assets/cinema3.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.app{

   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}